/* Paleta de cores do site

#fa6a64
#7a4e48
#415d1a
#ccbca1
#fbf3ed
#FFE4E1
*/

body{
  background-color:#fbf3ed;
}

p{
  color: black;
}

/*Definições das sections*/

section{
  padding: 3%;
}

.especialidades{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.conhecimentos{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.servicos{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/*Definições das fontes*/

h1{
  color:#415d1a;
  font-size: 2rem;
  text-align: center;
}

h2{
  color:#415d1a;
  font-size: 1.5rem;
  opacity: 50%;
}

/*Navigation Bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a4e48;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fa6a64;
}

/*Header*/
 header{
  background-color: #FFE4E1;
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
 }

.imgfigure{
  float:left;
  width: 25%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.pfigure {
  padding-bottom: 3%;
  text-align: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 3%;
  color: black;
}

.h1header{
  color:#415d1a;
  font-size: 2rem;
  text-align: left;
}

.h2header{
  color:#415d1a;
  font-size: 1.5rem;
  opacity: 50%;
}

/*Definições sobre o Contato*/

.contato{
  background-color: white;
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.imgcontact{
  width: 4%;
  float: left;
}

.pcontact{
  color: #7a4e48;
}

/*Definições Conhecimentos (Barrinhas)*/


.accordion{
  margin-left: 100px;
  margin-right: 100px;
}

.subtitulo{
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  color: rgb(98, 190, 160);
}

.progress{
  margin-left: 200px;
  margin-right: 200px;
}

.nomes_linhas{
  margin-left: 220px;
  margin-top: 50px;
}

.traco{
  text-align: center;
}


.timeline{
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
} 

.timeline ul{
  margin: 0;
  padding: 0;
}

.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(98, 190, 160);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(98, 190, 160, 0.3);
}

.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgb(98, 190, 160);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(98, 190, 160, 0.3);
}

.timeline ul li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgb(98, 190, 160);
}

.timeline ul li p{
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(98, 190, 160);
  color: #fff ;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgb(98, 190, 160, 0.3);
} 

.timeline ul li .time h4{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(even) .time{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(98, 190, 160);
  color: #fff ;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgb(98, 190, 160, 0.3);
} 

span{
  color: rgb(98, 190, 160);
}



.progress{
  margin-left: 10px;
  margin-right: 10px;
}

.nomes_linhas{
  margin-left: -950px;
  margin-top: 50px;
  font-size: 15px;
}

.accordion-button{
  color: #FFE4E1;
}

.modal-body{
  color: #FFE4E1;
}

.nomes_linhas{
  color: #FFE4E1;
}