/* Paleta de cores do site

#fa6a64
#7a4e48
#415d1a
#ccbca1
#fbf3ed
*/

body{
  background-color:#fbf3ed;
}

/*Definições das fontes*/

h1{
  color:#415d1a;
  font-size: 2rem;
}

/*Navigation Bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a4e48;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fa6a64;
}


